doctype html 
html
  head
    title SurjoS Dance Academy
    block scripts
  body
    nav#navbar 
        ul 
            div#logo1
              img(src="/static/logo1.png")
              |SDA
            li #[a(href="/") Home] 
            li #[a(href="/") About US] 
            li #[a(href="/contact") Contact Us] 
            li #[a(href="/") Services]
    block content
    footer#foot 
        | Copyright @copy . www.SurjosDance.com.All rights Reserved.
