extends base.pug
block scripts
    script(src='/static/script.js')
    link(rel="stylesheet" href="../static/style.css")
    link(rel="stylesheet" media="screen and (max-width:1255px)" href="../static/phone.css")
block content 
    section#intro
        div WELCOME TO SuRJo's Dance AcadeMy ..
        div Dance Sleep Eat Repeat Dance.....
    section#miss
        h2 OUR MISSON
        div.card
          h4 Dance With Perfection..
          div.cardbox
            div.cardimg
              img(src="/static/logo2.jpg")
            div.cardcon
              p These is the best dance Academy...
        div.card
          h4 Dance the way you like..
          div.cardbox
            div.cardimg
              img(src="/static/logo3.png")
            div.cardcon
              p These is the best dance Academy...
        div.card
          h4 Expert Teaching..
          div.cardbox
            div.cardimg
              img(src="/static/logo4.png")
            div.cardcon
              p These is the best dance Academy...

    section#spon 
        h2 OUR CLIENTS
        div.spon
          img(src="/static/spon1.jpg")
          img(src="/static/spon2.jpg")
          img(src="/static/spon3.png")
          img(src="/static/spon4.png")